@model Test.ViewModels.StudentViewModel
<title>@ViewBag.Title</title>

<form asp-action="CreateStudent" asp-controller="Student" method="post" enctype="multipart/form-data">
    <div class="mt-5 md-2">
        <center><h1>Добавить студента:</h1></center>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Ф.И.О. студента</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Groups">Выберите группу:</label>
        <select asp-for="GroupId" asp-items="@Model.Groups.Select(_=> new SelectListItem { Value = _.Id.ToString(), Text =_.Name+"("+ _.ShortName+")" })">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Номер телефона:</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
    </div>


    <div class="form-group">
        <input type="file" name="Photo" asp-for="Photo" class="form-control" />
    </div>
    <div class="form-group">
        <input type="hidden" name="img" asp-for="Img" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-dark" style="font-size: 20px;" />
    </div>
</form>