@model Test.ViewModels.AcademicGroupViewModel
<title>@ViewBag.Title</title>

<form asp-action="CreateGroup" asp-controller="AcademicGroup" method="post" enctype="multipart/form-data">
    <div class="mt-5 md-2">
        <center><h1>Добавить группу:</h1></center>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Номер группы:</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ShortName" class="control-label">Сокращенный номер группы:</label>
        <input type="text" asp-for="ShortName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="YearOfStudy" class="control-label">Год начала обучения группы:</label>
        <input type="text" asp-for="YearOfStudy" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="allCourses">Выберите курс обучения группы:</label>
        <select asp-for="CourseId" asp-items="@Model.allCourses.Select(_=> new SelectListItem { Value = _.Id.ToString(), Text =_.CourseNumber.ToString() })">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="allSpecialities">Выберите специальность обучения группы:</label>
        <select asp-for="SpecialityId" asp-items="@Model.allSpecialities.Select(_=> new SelectListItem { Value = _.Id.ToString(), Text =_.Name })">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="allTeachers">Выберите куратора группы:</label>
        <select asp-for="CuratorId" asp-items="@Model.allTeachers.Select(_=> new SelectListItem { Value = _.Id.ToString(), Text =_.Name })">
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-dark" style="font-size: 20px;" />
    </div>   
</form>
